* {
    padding: 0;
    box-sizing: border-box;
}


#cup {
    width: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    object-fit: cover;

}

.img {
    height: 100%;
    width: 40%;
}

.wrapper {
    background-color: rgba(246, 250, 232, 0.617);
    display: flex;
    width: 40%;
    height: 30%;
    border-radius: 3%;

}

.rest {
    margin-top: 8px;
    margin-left: 33px;
    padding: 0;
}

h1 {
    margin-bottom: 0;
    padding-bottom: 0;
    font-size: 20px;
    letter-spacing: 3px;
    color: rgb(152, 153, 155);
}

.head {
    color: black;
    font-size: 40px;
    font-weight: 800;
}

p {
    line-height: 1;
    margin-top: 15px;
    margin-bottom: 0;
    color: rgb(123, 125, 126);
    font-size: large;

}

#price {
    margin: 0;
    color: rgba(31, 88, 36, 0.881);
    font-size: 40px;
    font-weight: 600;
    display: inline-flex;
}

span {
    margin-left: 5px;
    font-size:
        larger;
}

.text {
    margin-bottom: 30px;
    padding: 0;
}

button {
    margin-top: 20px;
    background-color: rgba(31, 88, 36, 0.881);
    border: none;
    height: 40px;
    width: 295px;
    font-size: 15px;
    border-radius: 10px;
    word-spacing: 2.5px;
    color: white;
}